<!DOCTYPE html>
	<html>
		<head>
		<link rel="stylesheet" type="text/css" href="resources/NBA2KStyle.css">
		<meta charset="ISO-8859-1">
		<title>2K League 2019 Player Analytics Model</title>
	</head>
	<body>
		<div id="openingTitle">
			<h1>Hello, {{user.username}}!</h1> 
		</div>
		<div id="description">
			<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et felis feugiat, porttitor sapien ut, porttitor ante. Pellentesque nec neque ac enim ultrices interdum. Phasellus et tellus mi. Vestibulum vel erat at libero molestie ultricies. Suspendisse ullamcorper nunc at risus sagittis convallis. Nunc gravida laoreet enim, sed aliquam est faucibus in. Fusce viverra sit amet elit non bibendum.</h2>
		</div>
		<div id="navigation">
			<table class="button-container">
				<tbody>
					<tr>
						<td><a href="#overview">OVERVIEW</a></td>
						<td><a href="#compare1">TEAM COMPARISON 1</a></td>
						<td><a href="#compare2">TEAM COMPARISON 2</a></td>
						<td><a href="#compare3">TEAM COMPARISON 3</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id=padding></div>
		<div id="overview">
			<h2>Overview</h2>
			Donec dignissim, magna id gravida tristique, nibh arcu congue tortor, id facilisis neque mauris tincidunt neque. Vivamus nunc augue, semper vel venenatis vel, ullamcorper ac eros. Nunc orci felis, dapibus sit amet commodo vel, laoreet a quam. Donec quis erat semper, varius dolor non, porta nulla. Donec interdum semper metus sit amet blandit. Duis laoreet mi diam, eu maximus purus posuere quis. Proin turpis est, eleifend id eros sit amet, lacinia sodales urna. Etiam ultricies tincidunt felis, non volutpat lorem. Integer interdum, nibh quis vehicula pharetra, est risus vulputate metus, viverra cursus enim eros nec quam. Sed ac scelerisque mi.
		</div>
		<div id=padding></div>
		<div id=compare1>
			<h2>Kings versus Blazer5</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare2>
			<h2>Kings versus Blazer5</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
		<div id=padding></div>
		<div id=compare3>
			<h2>Kings versus Blazer5</h2>
			Nullam ac tellus mi. Fusce sed blandit lectus. Ut tincidunt turpis eu turpis auctor, ac lacinia nulla dignissim. Quisque sodales accumsan congue. Mauris efficitur ante non massa ultrices pretium. Nam sagittis ante hendrerit, rhoncus eros quis, sodales diam. Etiam libero velit, consectetur sed elementum a, gravida sed eros. Maecenas lacinia pharetra lacus, sit amet gravida ante venenatis quis. Nulla id tincidunt risus. Vestibulum bibendum lectus velit, vel dignissim ligula viverra vel. Morbi mauris tellus, molestie nec purus non, aliquet commodo est. Integer at interdum massa, vel viverra mauris. Nam sit amet enim id quam sagittis finibus non luctus nulla.
			<p></p>
			<img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300"><img src="resources/TeamComparisonKingsVsTest.png"height="300" width="300">
			<p></p>
			Donec sodales orci eu lacus consequat, et suscipit leo pharetra. Aliquam ut mi vitae orci pretium ultrices vel sed ipsum. In hac habitasse platea dictumst. Integer fermentum mi eget diam hendrerit finibus. Maecenas lobortis vestibulum venenatis. Proin non nisl lacus. Proin sapien arcu, bibendum non egestas eget, convallis sed lorem. Nullam imperdiet, libero ac aliquet tincidunt, magna ex vulputate nulla, sit amet faucibus magna risus ut dui. Vestibulum a aliquam ex. Vivamus non vehicula ligula. Pellentesque nec hendrerit felis.
			<p></p>
			<img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300"><img src="resources/playername_DetailedStat.png"height="300" width="300">
		</div>
	</body>
</html>